.form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    width: 100%;
    font-size: 0.8rem;
}

.form input {
    align-self: flex-start;
}

.form textarea {
    resize: none;
    width: 100%;
    height: 200px;
}