.footer {
    min-height: 35vh;
    width: 100vw;
    display: grid;
    color: white;
    background-color: #1a1a1a;
    border-bottom: 5px solid #f1ed47;
}

.footer_content {
    width: 70vw;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.link_list {
    width: 15%;

}

.link_list ul {
    list-style-type: none;
}

.short_about {
    width: 85%;
}

.short_about p {
    font-size: 0.9rem;
}

.media {
    display: flex;
    justify-content: end;
    padding-right: 5%;
}

@media (max-width: 768px) {
    .link_list {
        display: none;
    }

    .footer_content {
        width: 100%;
    }

    .short_about {
        margin: 0 auto;
    }

    .short_about p {
        font-size: 1.4rem;
    }
}