.nav_bar {
    background-color: #ebebeb;
    color: #333;
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 4vw;
    box-shadow: 0 0 5px #979797;
    z-index: 100;
}

.logo {
    display: flex;
    align-items: center;
}

.profilePic {
    margin-right: 20px;
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
}

.profilePic img {
    width: 45px;
    height: 45px;
}

.nav_bar .title {
    font-weight: bold;
    font-size: 2rem;
}

.nav_bar span .backColor {
    background-color: #f1ed47;
}

.nav_bar .computer_screen {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav_bar li {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: 768px) {


    .profilePic {
        display: none;
    }

    .nav_bar .title {
        font-size: 1.5rem;
    }

    .nav_bar .computer_screen {
        display: none;
    }

}