.skillsLine {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70vw;
    margin: 20px auto;
    padding: 10px;
    background-color: #f7ff70;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgb(120, 120, 120, 0.3);
    transition: all 0.3s ease-in-out;
}

.skillsLine:hover {
    box-shadow: 0 0 5px 3px rgb(120, 120, 120, 0.3);
}

.skillClass {
    overflow: hidden;
    width: 45px;
    height: 45px;
}

.skillsLine .skillClass img {
    width: 45px;
    height: 45px;
}

.toolTip {
    min-width: 100px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: #313131;
    background-color: #f1ed47;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 3px rgb(120, 120, 120, 0.3);
    visibility: hidden;
    transform: translate(-50%, 0);
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

.skillClass:hover .toolTip {
    opacity: 1;
    visibility: visible;
}